	<h1>BURGER TIME!</h1>
	<div>
		<h2>Burgers To Be Devoured</h2>
      <ul class=>
        {{#each burgers}} {{#unless this.devoured}}
        <div>
          <li>{{this.burger_name}}</li>
          <div>
            {{!-- Button sends this.id back to the server --}}
            <form action="eatBurger/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-default btn-primary devourButton">DEVOUR IT!</button>
            </form>
          </div>
        </div>
        {{/unless}} {{/each}}
      </ul>
	</div>

    <div>
      <form class="create-update-form" action="burgers" method="POST">
        <div class="form-group col-lg-2">
          <textarea placeholder="Enter a burger you want to eat, and then click the submit button." id="burgername" name="burger_name"
            rows="4" cols="20"></textarea>
          <br>
          <button type="submit" class="btn btn-lg btn-primary submitButton">Submit</button>
        </div>
      </form>
    </div>

    <div>
		<h2>Burgers That Have Been Devoured</h2>
      <div>
        <ul>
          {{#each burgers}} {{#if this.devoured}}
          <div>
            <li>{{this.burger_name}}</li>
          </div>

          {{/if}} {{/each}}
      </div>
      </ul>
    </div>

  </div>
 
</form>

   