.display-4 {
  color: black;
  text-align: center;
  font-family: 'Knewave' ;
  margin-bottom: 50px;
}

.jumbotron {
  display: flex;
  align-items: center;
  height: 200px;
  background-image: url(https://image.freepik.com/free-vector/burger-pattern-background_67556-123.jpg);
}

.BG{
  background-color: peru;
  overflow-x: hidden;
}

.col-md-3 {
  display: inline-block;
  font-family: 'Knewave';
}

.col-md-4 {
  display: inline-block;
  font-family: 'Knewave' ;
}

 .btn-lg {
  font-family: 'Knewave' ;
  background-color: peru!important;
  border: none!important;
  color: black;
 }

 .btn-default {
  background-color: peru!important;
  border: none!important;
  color: black;
 }

 ::placeholder {
  font-family: 'Knewave' ;
  color: black;
}
